
$headerBackground: '../img/m-h-night.jpg';

$backgroundColor: white;

$sectionBackground:#383d4f;

$pFontFamily: 'Fresca', sans-serif;

$fontColor: white;

$btnColor: #e4ae00;

$gradientColor:#922752;

$wordHighlight: #ff4d30;

$bgColores: ('add':  #383D4F, 'main': #1B1E2A);