
$headerBackground: '../img/m-h-day.jpg';

$backgroundColor:#1b1e2a;

$sectionBackground: #1b1e2a;

$pFontFamily: 'Hind', sans-serif;

$fontColor: #282b39;

$btnColor: #699a00;

$gradientColor:#2b5dd1;

$wordHighlight: #0ca1c8;

$bgColores: ('add':  #1B1E2A, 'main': #fff);